@font-face {
	font-family: Roboto-black;
	src: url(fonts/Roboto/Roboto-Black.ttf)
}
@font-face {
	font-family: Roboto-black-italic;
	src: url(fonts/Roboto/Roboto-BlackItalic.ttf)
}
@font-face {
	font-family: Roboto-bold;
	src: url(fonts/Roboto/Roboto-Bold.ttf)
}
@font-face {
	font-family: Roboto-bold-italic;
	src: url(fonts/Roboto/Roboto-BoldItalic.ttf)
}
@font-face {
	font-family: Roboto-Italic;
	src: url(fonts/Roboto/Roboto-Italic.ttf)
}
@font-face {
	font-family: Roboto-light;
	src: url(fonts/Roboto/Roboto-Light.ttf)
}
@font-face {
	font-family: Roboto-light-italic;
	src: url(fonts/Roboto/Roboto-LightItalic.ttf)
}
@font-face {
	font-family: Roboto-medium;
	src: url(fonts/Roboto/Roboto-Medium.ttf)
}
@font-face {
	font-family: Roboto-medium-italic;
	src: url(fonts/Roboto/Roboto-MediumItalic.ttf)
}
@font-face {
	font-family: Roboto-regular;
	src: url(fonts/Roboto/Roboto-Regular.ttf)
}
@font-face {
	font-family: Roboto-thin;
	src: url(fonts/Roboto/Roboto-Thin.ttf)
}
@font-face {
	font-family: Roboto-thin-italic;
	src: url(fonts/Roboto/Roboto-ThinItalic.ttf)
}


.z1{
  z-index: 1;
}
.z-1{
  z-index: -1;
}
.font-white{
  color: #ffffff;
}
.font-blue{
  color: #0e5b85;
}
.bold{font-weight: bold;}
.white{
  background-color: #ffffff;
}
.snow{
  background-color: #fbfbfb;
}
.green{
  background-color: #00be7a;
}
.blue{
  background-color:#0b496a;
}
.light-blue{
  background-color:#0e5b85;
}
.opacity{
  opacity: 0.8;
}
.pad-top15{
  padding-top:15px;
}
.pad-top30{
  padding-top:30px;
}
.pad-bot10{
  padding-bottom:10px;
}
.pad-bot30{
  padding-bottom:30px;
}
.top-160{
  margin-top: -160px;
}
.top-50{
  margin-top: -50px;
}
.top10{
  margin-top: 10px;
}
.top30{
  margin-top: 30px;
}
.top80{
  margin-top: 80px;
}
.bottom10{
  margin-bottom: 10px;
}
.bottom15{
  margin-bottom: 15px;
}
.bottom30{
  margin-bottom: 30px;
}
.font1{
  font-size: 46.9px;
}
.font2{
  font-size: 19.2px;
}
.font3{
  font-size: 30px;
}
.font4{
  font-size: 24px;
}
.font5{
  font-size: 12px;
}
.img-top{
  background-size: 100% 100%;
  height: 910px;
  position: relative;
  -webkit-mask-image: linear-gradient(to top, transparent 20%, black 50%);;
}
.img-middle{
  background-size: 100% 100%;
  height: 681px;
  position: relative;
  -webkit-mask-image: linear-gradient(to bottom, transparent 5%, black 50%);;
}
.phrase-top{
  height: 640px;
}
.phrase-middle{
  height: 640px;
}
.phrase{
    font-family: Roboto-medium;
}
.phrase::after{
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: blinkCursor .5s infinite;
}

@keyframes blinkCursor{
  0%, 100%{
    opacity: 1;
  }
  50%{
    opacity: 0;
  }

}
.border-right{
  border-right: 2px solid rgba(255, 255, 255, 0.75);
}
.bgBlack{
  background-color: #000000;
  opacity: 0.5;
  border-radius: 7px;
  padding: 50px 0px 50px 0px
}
.bgWhite{
  background-color: #ffffff;
  opacity: 0.62;
  border-radius: 7px;
  padding: 30px 0px 30px 0px
}
.justify{
	text-align: justify;
}
.title{
	font-family: Roboto-medium;
}
.title-section{
  font-family: Roboto-medium;
}
.title-service{
  font-family: Roboto-light;
}
.description-service{
  font-family: Roboto-light;
}
.btn-green{
  background-color: #00be7a;
  border: none;
  font-size: 14px;
  font-family: Roboto-light;
}
.btn-green:hover{
  background-color: #009862;
  border: none;
}
.btn-green:focus{
  background-color: #009862;
  border: none;
}
.btn-blue{
  background-color: #0e5b85;
  border: none;
}
.btn-blue:hover{
  background-color: #0b496a;
  border: none;
}
.btn-blue:focus{
  background-color: #0b496a;
  border: none;
}
.img-partner{
  filter: grayscale(1);
  transition: filter 1s;
}
.img-partner:hover{
  filter: none;
}
.card-title{
  font-family: Roboto-regular;
}
.card-text{
  font-family: Roboto-light;
}
.img-testimony{
  width: 200px;
  height: 200px;
}
.testimony-description{
  font-family: Roboto-light;
}
.testimony-author{
  font-family: Roboto-regular;
}
.social{
  font-family: Roboto-regular;
}
.copyright{
  font-family: Roboto-light;
}
/*Menu retratil*/
.navbar{
	position: fixed !important;
	top: 0;
	left: 0;
	width: 100%;
	height: 80px;
	padding: 0 0 0 0px;
	box-sizing: border-box;
	transition: .5s;
}
.navbar.hide{
	transform: translateY(-100%);

}
.navbar .channel{
	position: relative;
}

.navbar ul{
	margin: 0;
	padding: 0;
	display: flex;
	float: right;
}

.navbar ul li{
	list-style: none;
	line-height: 80px;
	text-align: center;
	white-space: nowrap !important;
}

.navbar ul li a{
	display: block;
	/* padding: 0 30px; */
	text-decoration: none;
	font-family: Roboto-regular;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
	color: #0e5b85;
	padding:0px 20px 0px 20px !important;
}
.navbar ul li a:hover{
	background-color: #0e5b85 !important;
	color: #ffffff !important;
}
.current-menu-item a{
	background-color: #0e5b85 !important;
	color: #ffffff !important;
}
.active{
	background-color: #0e5b85 !important;
	color: #ffffff !important;
}

.bot-menu ul{
	margin: 0;
	padding: 0;
	display: flex;
	float: right;
}
.bot-menu ul li{
	list-style: none;
	line-height: 80px;
	text-align: center;
	white-space: nowrap !important;
}
.bot-menu ul li a{
	display: block;
	/* padding: 0 30px; */
	text-decoration: none;
	font-family: Roboto-light;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 10px;
	color: #ffffff;
	padding:0px 20px 0px 20px !important;
}

.bot-menu ul li a:hover{

	border-top: 1px solid #ffffff;
}

.input-name{
	border: none !important;
  background: none !important;
  border-bottom: solid 1px !important;
}
.input-name:focus{
	outline: none !important;
	background-color: #fbfbfb;
}
.input-email{
	border: none !important;
	background: none !important;
	border-bottom: solid 1px !important;
}
.input-email:focus{
	outline: none !important;
}
.input-phone{
	border: none !important;
  background: none !important;
  border-bottom: solid 1px !important;
}
.input-phone:focus{
	outline: none !important;
}
.input-subject{
	border: none !important;
  background: none !important;
  border-bottom: solid 1px !important;
}
.input-subject:focus{
	outline: none !important;
}
.input-message{
	border: none !important;
  background: none !important;
  border-bottom: solid 1px !important;
}
.input-message:focus{
	outline: none !important;
}

/* Depoimentos */
.resetActive{
	background-color: transparent !important;
}
